<!-- Facilities Area Start -->
<div class="facilities-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-facilitie">
                    <div class="facilitie-icon">
                        <img src="img/icon/facilitie1.png" alt="facilitie">
                    </div>
                    <div class="facilitie-content">
                        <h3>free shipphing</h3>
                        <p>on all orders over $50.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facilitie">
                    <div class="facilitie-icon">
                        <img src="img/icon/facilitie2.png" alt="facilitie">
                    </div>
                    <div class="facilitie-content">
                        <h3>Money back guarante</h3>
                        <p>100% Money-back guarantee</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-facilitie">
                    <div class="facilitie-icon">
                        <img src="img/icon/facilitie3.png" alt="facilitie">
                    </div>
                    <div class="facilitie-content">
                        <h3>24 hours support</h3>
                        <p>24 / 7 from Monday to Friday</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facilities Area End -->