<!-- Header Area Start -->
<header>
    <div class="header-area header-area-padding">
        <div class="top-link three top-link-padding bg-three">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top-left">
                            <p>Default welcome mgs!</p>
                            <a href="register.html">Register</a>
                            <span>or</span>
                            <a href="login.html">Login</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="account-usd text-left">
                            <ul>
                                <li><a href="register.html">My Account</a>
                                    <ul class="submenu-mainmenu">
                                        <li><a href="product-details.html">compare products</a></li>
                                        <li><a href="register.html">My Account</a></li>
                                        <li><a href="wishlist.html">My Wish List</a></li>
                                        <li><a href="register.html">Sign In</a></li>
                                    </ul>
                                </li>
                                <li class="currency"><a href="#">English3</a>
                                    <ul class="submenu-mainmenu">
                                        <li><a href="#">English4</a></li>
                                    </ul>
                                </li>
                                <li class="language"><a href="#">USD</a>
                                    <ul class="submenu-mainmenu">
                                        <li><a href="#">Euro</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-header three header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="logo main">
                            <a href="index.html"><img src="img/logo/logo.png" alt="shopro" /></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-3">
                        <div class="menu-wrapper display-none">
                            <div class="main-menu mean-menu">
                                <nav style="display: block;">
                                    <ul>
                                        <li class="active"><a href="index.html">home</a>
                                            <ul>
                                                <li><a href="index.html">home one</a></li>
                                                <li><a href="index-2.html">home two</a></li>
                                                <li><a href="index-3.html">home three</a></li>
                                                <li><a href="index-4.html">home four</a></li>
                                                <li><a href="index-5.html">home five</a></li>
                                                <li><a href="index-6.html">home six</a></li>
                                            </ul>
                                        </li>
                                        <li class="megamenu"><a href="shop.html">Furniture <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li>
                                                    <ul>
                                                        <li>Chairs</li>
                                                        <li><a href="#">Armchairs</a></li>
                                                        <li><a href="#">Mattress</a></li>
                                                        <li><a href="#">Bunk Bed</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Ottomans</li>
                                                        <li><a href="#">Bedspread</a></li>
                                                        <li><a href="#">Chest</a></li>
                                                        <li><a href="#">Wardrobe</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Sink</li>
                                                        <li><a href="#">Shorts</a></li>
                                                        <li><a href="#">Dresses</a></li>
                                                        <li><a href="#">Trousers</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Table</li>
                                                        <li><a href="#">Bedspread</a></li>
                                                        <li><a href="#">Shorts</a></li>
                                                        <li><a href="#">Skirts</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">shop</a>
                                            <ul>
                                                <li><a href="shop.html">shop page</a></li>
                                                <li><a href="product-details.html">product details</a></li>
                                                <li><a href="cart.html">cart page</a></li>
                                                <li><a href="checkout.html">checkout page</a></li>
                                                <li><a href="wishlist.html">wishlist page</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">Blog</a>
                                            <ul>
                                                <li><a href="blog.html">blog page</a></li>
                                                <li><a href="blog-details.html">blog details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="cart.html">pages</a>
                                            <ul>
                                                <li><a href="cart.html">cart page</a></li>
                                                <li><a href="checkout.html">checkout page</a></li>
                                                <li><a href="wishlist.html">wishlist page</a></li>
                                                <li><a href="register.html">register page</a></li>
                                                <li><a href="login.html">login page</a></li>
                                                <li><a href="contact.html">contact page</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Main Menu Area End -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-3">
                        <div class="header-cart main">
                            <a href="cart.html">
                                <i class="fa fa-shopping-bag"></i>
                                <span>my cart</span>
                                <span class="counter">2</span>
                            </a>
                            <ul class="submenu-mainmenu">
                                <li class="single-cart-item clearfix mb-10">
                                            <span class="cart-img">
                                                <a href="shop.html"><img src="img/menu/1.jpg" alt=""></a>
                                            </span>
                                    <span class="cart-info">
                                                <a href="product-details.html">Lorem Ipsam...</a>
                                                <span>1 x $104.99</span>
                                                <a class="trash" href="#"><i class="fa fa-trash"></i></a>
                                            </span>
                                </li>
                                <li class="single-cart-item clearfix mb-10">
                                            <span class="cart-img">
                                                <a href="shop.html"><img src="img/menu/2.jpg" alt=""></a>
                                            </span>
                                    <span class="cart-info">
                                                <a href="product-details.html">Lorem Ipsam...</a>
                                                <span>2 x $104.99</span>
                                                <a class="trash" href="#"><i class="fa fa-trash"></i></a>
                                            </span>
                                </li>
                                <li>
                                            <span class="sub-total-cart text-center">
                                                SubTotal <span>$620</span>
                                                <a href="checkout.html" class="view-cart">Checkout</a>
                                            </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Area Start -->
                <div class="mobile-menu-area col-12">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="index.html">home</a>
                                    <ul>
                                        <li><a href="index.html">home one</a></li>
                                        <li><a href="index-2.html">home two</a></li>
                                        <li><a href="index-3.html">home three</a></li>
                                        <li><a href="index-4.html">home four</a></li>
                                        <li><a href="index-5.html">home five</a></li>
                                        <li><a href="index-6.html">home six</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="product-details.html">Product Details</a></li>
                                <li><a href="cart.html">pages</a>
                                    <ul>
                                        <li><a href="cart.html">cart</a></li>
                                        <li><a href="checkout.html">checkout</a></li>
                                        <li><a href="wishlist.html">wishlist</a></li>
                                        <li><a href="login.html">login</a></li>
                                        <li><a href="register.html">register</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Mobile Menu Area End -->
            </div>
        </div>
        <div class="header-bottom four">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="category-nav">
                            <div class="nav-title show-submenu">
                                <h2>all categories</h2>
                            </div>
                            <div class="nav-menu submenu">
                                <ul>
                                    <li><a href="shop.html"><img src="img/icon/nav1.png" alt="cat">Automotive &amp; Motorcycle</a></li>
                                    <li class="megamenu"><a href="shop.html"><img src="img/icon/nav2.png" alt="cat">Electronics</a>
                                        <ul>
                                            <li>
                                                <ul>
                                                    <li>laptop &amp; Tablets</li>
                                                    <li><a href="shop.html">Euim tincidunt </a></li>
                                                    <li><a href="shop.html">Diam nonummy</a></li>
                                                    <li><a href="shop.html">Claritas est etiam </a></li>
                                                    <li><a href="shop.html">Habent clari into </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>TVs &amp; Audios</li>
                                                    <li><a href="shop.html">Euim tincidunt </a></li>
                                                    <li><a href="shop.html">Diam nonummy</a></li>
                                                    <li><a href="shop.html">Claritas est etiam </a></li>
                                                    <li><a href="shop.html">Habent clari into </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>Accessories</li>
                                                    <li><a href="shop.html">Euim tincidunt </a></li>
                                                    <li><a href="shop.html">Diam nonummy</a></li>
                                                    <li><a href="shop.html">Claritas est etiam </a></li>
                                                    <li><a href="shop.html">Habent clari into </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li>Headphones</li>
                                                    <li><a href="shop.html">Euim tincidunt </a></li>
                                                    <li><a href="shop.html">Diam nonummy</a></li>
                                                    <li><a href="shop.html">Claritas est etiam </a></li>
                                                    <li><a href="shop.html">Habent clari into </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.html"><img src="img/icon/nav3.png" alt="cat">sports &amp; outdoors</a></li>
                                    <li><a href="shop.html"><img src="img/icon/nav4.png" alt="cat">smartphone &amp; tablets</a></li>
                                    <li><a href="shop.html"><img src="img/icon/nav5.png" alt="cat">healthf &amp; beauty</a></li>
                                    <li><a href="shop.html"><img src="img/icon/nav6.png" alt="cat">bags, shoes &amp; accessories</a></li>
                                    <li><a href="shop.html"><img src="img/icon/nav7.png" alt="cat">toys &amp; hobbies</a></li>
                                    <li><a href="shop.html"><img src="img/icon/nav8.png" alt="cat">computers &amp; networking</a></li>
                                    <li><a href="shop.html"><img src="img/icon/nav9.png" alt="cat">laptop &amp; accessories</a></li>
                                    <li class="show"><a href="shop.html">More Categories</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-9">
                        <div class="search-box three" id="search-form">
                            <form action="#">
                                <input placeholder="Search entire store here..." type="text">
                                <button class="search" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="header-phone three">
                            <div class="fa fa-volume-control-phone"></div>
                            <div class="header-phn-info">
                                <span>(080) 123 4567 890</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->