<!-- Slider Area Start -->
<div class="slider-area five">
    <div class="slider-wrapper owl-carousel">
        <div class="single-slide" style="background-image: url({{ asset('global/img/slider/slider7.jpg') }});">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-5">
                        <div class="slider-banner">
                            <h3>Ladies Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                            <a href="shop.html" class="banner-btn dark">Shop the lookbook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide" style="background-image: url({{ asset('global/img/slider/slider8.jpg') }});">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-5">
                        <div class="slider-banner">
                            <h3>The new neutrals</h3>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                            <a href="shop.html" class="banner-btn dark">Shop the lookbook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End -->