<!-- Slider Area Start -->
<div class="slider-menu-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="menu-wrapper"></div>
            </div>
        </div>
    </div>
    <div class="slider-area banner-slider four">
        <div class="slider-wrapper owl-carousel">
            <div class="single-slide" style="background-image: url('img/slider/slider5.jpg');">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-9">
                            <div class="slider-banner">
                                <h5>New Headphones Sport Style</h5>
                                <h4>Save 20% on</h4>
                                <h1>New arrivals</h1>
                                <a href="shop.html" class="banner-btn">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slide slider-two" style="background-image: url('img/slider/slider6.jpg');">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-9">
                            <div class="slider-banner text-center">
                                <h5>New Headphones Sport Style</h5>
                                <h2>save 20% on</h2>
                                <h3>new arrivals</h3>
                                <a href="shop.html" class="banner-btn">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End -->